
    div,
    form,
    input {
      margin: 10px;
    }

    img{
    	max-width: 300px;
    	margin: 5px;
        border: solid 2px black;
    }

	.left {
		float: left;
	}

    body{
        background: url("sakura.png")
    }

    button{
        margin: 10px;
        background-color: #83CC6B;
    }
    .btn{
        margin: 10px;
        background-color: #83CC6B;
    }
