 	button,
    div,
    form,
    input {
      margin: 10px;
    }

    img{
    	max-width: 300px;
    	margin: 5px;
    	/*float: left;*/
    }

	.left {
		float: left;
	}

    body{
        background: url("sakura.png")
    }